body{
    margin: 1rem;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f31;
    font-size: 250%;
}

h2,h3{
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia, serif;
  }

button{
    background-color: #eee;
    color: #333;
    border: none;
    padding: 0.5em;
    border-radius: .25em;
}

button:hover {
    background-color: #333;
    color: #eee;
    transform: scale(1.1);
  }
  button:disabled {
    background-color: #eee;
    color: #999;
    cursor: auto;
  }

  * {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }